
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@600&display=swap');


:root {
    /* --primary-color: #7C3AED; */
    --primary-color: #60A5FA
    ;
    --dark-grey: #6B7280;
     --off-white: #E5E7EB;
    
}

body {
    font-family: 'Kodchasan', sans-serif;
    margin: 0px;
    background-color: #FDE68A;
}

div {
    display: block;
}

.navigation {
    background-color: var(--primary-color);
    color: var(--off-white);
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
    
}

main{
    padding: 1rem;
    margin:auto;
    max-width: 600px;
}

textarea{

    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family:'Kodchasan';
    padding:0.5rem;
    
}

button{

    background-color: var(--primary-color);
    color: var(--off-white);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Kodchasan', cursive;
    font-size: large;
}

#output{
    
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow: scroll;
    border: 1px solid black;
    margin-bottom: 1rem;

}

footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color:var(--off-white);
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p {
    max-width: 600px;
    margin: auto;
}
